html {
height: 100%;
}

body {
margin: 0px;
padding: 0px;
height: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: #303030;
background-color: #FAFAFA;
text-align: left;
}

a {
color: #3E6FAD;
text-decoration: none;
-moz-transition: .1s linear;
-webkit-transition: .1s linear;
-o-transition: .1s linear;
transition: .1s linear;
cursor: pointer;
cursor: hand;
border-bottom: 1px dashed #3E6FAD;
}

a:hover {
color: #3E6FAD;
text-decoration: none;
cursor: pointer;
cursor: hand;
border-bottom: 1px solid #3E6FAD;
}

a.no-underline {
border-bottom: 0px;
}

h1 {
font-family: 'Open Sans', sans-serif;
font-size: 37px;
font-weight: 300;
margin: 0px;
padding: 0px;
}

h2 {
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 300;
margin: 50px 0px 25px 0px;
padding: 0px;
color: #000000; /* #3E6FAD */
}

h3 {
font-family: 'Open Sans', sans-serif;
font-size: 25px;
font-weight: 400;
margin: 40px 0px 25px 0px;
padding: 0px;
}

h4 {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 600;
margin: 0px 0px 20px 0px;
padding: 0px;
}

p {
margin: 20px 0px 20px 0px;
padding: 0px;
}

p.summary {
font-size: 23px;
font-family: georgia, 'Open Sans', sans-serif;
}

ul {
list-style-type: disc;
margin: 20px 0px 20px 0px;
padding: 0px 0px 0px 35px;
}

ul.sub {
list-style-type: circle;
}

ul li {
margin: 0px;
padding: 0px;
}

ol {
margin: 20px 0px 20px 0px;
padding: 0px 0px 0px 35px;
}

ol li {
margin: 0px;
padding: 0px;
}

ul.spaced li {
margin: 0px 0px 20px 0px;
padding: 0px;
}

ol.spaced li {
margin: 0px 0px 20px 0px;
padding: 0px;
}

.page_container {
position: relative;
width: 940px;
margin: 50px auto 50px auto;
padding: 0px 20px 0px 20px;
}



.features_list {
width: 430px;
}



.feature {
position: relative;
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 294px; /* 394 */
}

.feature .background_color_shade {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background-color: #333333; /* #3E6FAD */
opacity: 0.9;
}

.feature .content {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
color: white;
text-align: center;
font-size: 18px;
}



.browser_item {
width: 168px;
height: 213px;
float: left;
margin: 10px;
}

.browser_item .logo {
width: 166px;
height: 166px;
border: 1px solid #CCCCCC;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
background-repeat: no-repeat;
background-position: center;
-webkit-filter: grayscale(50%);
filter: grayscale(50%);
-moz-transition: .25s linear;
-webkit-transition: .25s linear;
-o-transition: .25s linear;
transition: .25s linear;
}

.browser_item .logo:hover {
-webkit-filter: none;
filter: none;
}

.browser_item .text {
text-align: center;
margin-top: 10px;
font-weight: bold;
font-size: 18px;
}



.hidden_code {
display: none;
}

.example {
border: 1px solid #CCCCCC;
background-color: #F0F0F0;
padding: 20px;
}

table.doc_table {
width: 100%;
}

table.doc_table th {
padding: 20px;
font-weight: bold;
text-align: left;
border-bottom: 2px solid #FFFFFF;
}

table.doc_table td.key {
width: 20%;
padding: 20px;
font-weight: bold;
border-bottom: 2px solid #FFFFFF;
vertical-align: middle;
}

table.doc_table td.type {
width: 15%;
padding: 20px;
font-style: italic;
background-color: #F0F0F0;
border-bottom: 2px solid #FFFFFF;
vertical-align: middle;
}

table.doc_table td.params {
position: relative;
padding: 20px 20px 20px 0px;
vertical-align: middle;
}

table.doc_table td.description {
position: relative;
padding: 20px;
background-color: #DEECFF;
border-bottom: 2px solid #FFFFFF;
vertical-align: middle;
}

table.doc_table td.description.note {
background-color: #C7DFFF;
}

table.doc_table.callbacks td.key {
vertical-align: top;
}

table.doc_table.callbacks td .context_header {
float: right;
}



.parallax_photo {
position: relative;
background-repeat: no-repeat;
background-position: 50% 50%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 50%;
min-width: 980px;
min-height: 200px;
background-attachment: fixed;
}

.parallax_photo.main {
background-image: url('/images/me_2.jpg');
}

/* INPUTS */

form {
margin: 0px;
}

input {
outline: none;
}

textarea {
outline: none;
}

select {
outline: none;
}

.textbox {
margin: 0px;
padding: 10px;
width: 330px;
border: 1px solid #AAAAAA;
background-color: transparent;
font-family: Arial, sans-serif;
font-size: 16px;
color: #303030;
vertical-align: top;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-moz-transition: .1s linear;
-webkit-transition: .1s linear;
-o-transition: .1s linear;
transition: .1s linear;
outline: none;
}

.textbox.focus {
outline: none;
border: 1px solid #333333;
}

.textbox.error {
outline: none;
border: 1px solid red;
}

.textbox.textarea {
width: 500px;
height: 130px;
}

.selectbox {
margin: 0px;
padding: 10px;
border: 1px solid #F0F0F0;
background-color: #F0F0F0;
font-family: Arial, sans-serif;
font-size: 16px;
color: black;
vertical-align: top;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
-moz-transition: .2s linear;
-webkit-transition: .2s linear;
-o-transition: .2s linear;
transition: .2s linear;
outline: none;
}

.selectbox.focus {
outline: none;
border: 1px solid #DBDBDB;
background-color: white;
}

.selectbox.error {
outline: none;
border: 1px solid red;
}

.selectbox option
{
outline: none;
background-color: white;
color: black;
}

.button {
display: inline-block;
margin: 0px;
padding: 15px;
color: #3E6FAD;
font-family: 'Open Sans', sans-serif;
text-decoration: none;
cursor: pointer;
cursor: hand;
font-size: 16px;
text-align: center;
white-space: nowrap;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-moz-transition: .1s linear;
-webkit-transition: .1s linear;
-o-transition: .1s linear;
transition: .1s linear;
background-color: white;
border: 1px solid white;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
outline: none;
}

.button.hover {
outline: none;
background-color: transparent;
color: white;
text-decoration: none;
border: 1px solid white;
}

.button.onwhite {
display: inline-block;
margin: 0px;
padding: 15px;
color: white;
font-family: 'Open Sans', sans-serif;
text-decoration: none;
cursor: pointer;
cursor: hand;
font-size: 16px;
text-align: center;
white-space: nowrap;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-moz-transition: .1s linear;
-webkit-transition: .1s linear;
-o-transition: .1s linear;
transition: .1s linear;
background-color: #3E6FAD;
border: 1px solid #3E6FAD;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
outline: none;
}

.button.onwhite.hover {
outline: none;
background-color: transparent;
color: #3E6FAD;
text-decoration: none;
border: 1px solid #3E6FAD;
}

/* placeholder must go last to be optionally applied to selects */

.placeholder {
color: #aaa;
}

/* END INPUTS */

.spinner_wrapper {
display: inline-block;
width: 14px;
height: 14px;
vertical-align: middle;
margin-left: 7px;
margin-right: 7px;
cursor: default;
}

.error_box {
display: none;
color: red;
}

.error_box a {
color: red;
text-decoration: underline;
-moz-transition: .1s linear;
-webkit-transition: .1s linear;
-o-transition: .1s linear;
transition: .1s linear;
cursor: pointer;
cursor: hand;
}

.error_box a:hover {
color: red;
text-decoration: underline;
cursor: pointer;
cursor: hand;
}

#header.feature .source_logo {
position: absolute;
top: 50px;
left: 50px;
border: 0px;
}

#header.feature .button {
margin-top: 5px;
}

.footer {
padding: 20px;
background-color: #333333;
color: white;
/* text-align: right; */
font-size: 18px;
}

.footer a {
color: #999999;
border: 0px;
}

.footer a:hover {
color: red;
border: 0px;
}

.footer h2 {
color: white;
}

.footer .button {
margin-top: 8px;
color: #333333;
border: 1px solid white;
}

.footer .button.hover {
color: white;
border: 1px solid white;
}

.footer.download {
background-color: #3E6FAD;
}

.footer.download .button {
margin-top: 8px;
color: #3E6FAD;
border: 1px solid white;
}

.footer.download .button.hover {
color: white;
border: 1px solid white;
}

.footer.license {
background-color: #2C507D;
}

.footer.license .button {
margin-top: 8px;
color: #2C507D;
border: 1px solid white;
}

.footer.license .button.hover {
color: white;
border: 1px solid white;
}

#nav {
position: absolute;
top: 394px;
right: 0px;
text-align: right;
padding: 50px 20px 20px 10px;
z-index: 1000;
}

#nav.sticky {
position: fixed;
top: 0px;
right: 0px;
z-index: 1000;
}

#nav ul {
list-style-type: none;
margin: 0px;
padding: 0px;
}

#nav ul li {
margin: 0px;
padding: 0px;
}

#nav ul li a {
display: inline-block;
border: 0px;
color: #999999;
font-size: 14px;
border-bottom: 0px;
border-right: 0px solid #3E6FAD;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 2px;
margin-bottom: 2px;
}

#nav ul li a:hover {
border-bottom: 0px;
border-right: 3px solid #3E6FAD;
color: #3E6FAD;
}

#nav ul li ul {
display: none;
padding-right: 10px;
font-style: italic;
}

#nav ul li a.selected {
border-right: 3px solid #3E6FAD;
color: #3E6FAD;
}

#nav.white ul li a {
border-right: 0px solid #E0E0E0;
color: #E0E0E0;
}

#nav.white ul li a:hover {
border-right: 3px solid #C4C4C4;
color: #C4C4C4;
}

#nav.white ul li a.selected {
border-right: 3px solid #C4C4C4;
color: #C4C4C4;
}
